#image {
	/*     height:300px; */
	max-width: 100%;
	float: left;
	padding: 2px;
	z-index: -1;
}

#section {
	padding: 3px;
	width: auto;
	/* 	width: 100%; */
	word-wrap: break-word;
	text-align: right;
	margin: 0 !important;
	line-height: 0px;
}

#rowfoot {
	background-color: #5EA2CA;
	width: 100%;
	clear: both;
	text-align: right;
	padding: 2px;
	float: left;
}

#airplane {
	align: left;
	max-width: auto;
	word-wrap: normal;
	text-align: right;
	line-height: 12px;
}